// @import url('https://fonts.googleapis.com/css?family=Karla" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 
$primary-font: 'Karla', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$logo-color: #1d89cc;
$primary-color: #1d89cc;
$secondary-color: #0a3b586e;


.primary{
  color: #1d89cc
}

.primaryBG{
  background-color: #1d89cc
}