
// ? Font Styles ============================================================================

.Myfs-10{
  font-size: 10px;
}

.Myfs-12{
  font-size: 12px;
}

.Myfs-13{
  font-size: 10px;
}

.Myfs-15{
  font-size: 15px !important;
}

.Myfw-b{
  font-weight: bold;
}

// ? Margin Styles ============================================================================

.Mym-0{
  margin: 0px;
}

.Myml-a{
  margin-left: auto;
}

.Myml-7{
  margin-left: 7px;
}

.Myml-20{
  margin-left: 20px;
}



.Mymr-a{
  margin-right: auto;
}

.Mymr-15{
  margin-right: 15px;
}

.Mymb-7{
  margin-bottom: 7px !important;
}

// ? Padding Styles ==========================================================================

.Mypr-12{
  padding-right: 12px;
}

.Mypl-20{
  padding-left: 20px;
}

// ? Text Align Styles ===========================================================================

.Myta-l{
  text-align: left;
}

.Myta-r{
  text-align: right;
}

.Myta-c{
  text-align: center;
}

// ? Width Styles ===============================================================================

.Myw-fc{
  width: fit-content;
}

.Myw-inh{
  width: inherit;
}

.Myw-100{
  width: 100px;
}

// ? Cursor Styles ==============================================================================

.Mycursor{
  cursor: pointer;
}

.userSelect{
  -moz-user-select: none;
  -webkit-user-select: none;
}

// ? Common COlors ==============================================================================

.orange{
  color: #ff6b57;
}

// ? vertical align styles ============================================================================
.Myva-m{
  vertical-align: middle;
}
